<!DOCTYPE HTML>
<head>
  {% if title %}
    <title>{{ title }} - My Money</title>
    {% else %}
    <title>Welcome to Your Money</title>
  {% endif %}
  {% assets "d3_viz" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
</head>
<!-- Fonts -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
      rel='stylesheet' type='text/css' />
<!-- Bootstrap CSS -->


<section class="content">
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</section>

<!-- Bootstrap related JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>