{% extends "base.html" %}

{% block content %}
<head>
     <script type="text/javascript">
        var data1 = {{data}}
        console.log(data1)
        console.log({{data}})
        console.log('heelo')
    </script>
</head>
<div class='w3-container w3-light-grey' id='MapHome'>
  <div class='w3-col s8'>
    <div class='w3-row'>
      <div class='w3-col s3'>
        <p> US Map {{ data }} </p>
      </div>
    </div>
    <div class='w3-white' id='holdMap'></div>
  </div>
</div>
  <script type="text/javascript">
  console.log('again')
  console.log(data1)
  d3.json("https://cdn.jsdelivr.net/npm/us-atlas@3/states-albers-10m.json").then(function(map_data) {
    d3.json("https://covidtracking.com/api/v1/states/daily.json").then(function(covid_data) {
      makeMap('holdMap', 'mapSVG', map_data, covid_data)
    })
  });
  </script>

{% endblock %}
