{% extends "base.html" %}

{% block content %}
<div class='w3-container w3-light-grey' id='MapHome'>
  <div class='w3-col s8'>
    <div class='w3-row'>
      <div class='w3-col s3'>
        <p> US Map </p>
      </div>
    </div>
    <div class='w3-white' id='holdMap'></div>
  </div>
</div>
  <script type="text/javascript">

  var map_data;
  var covid_data;
  load_map()
  //makeMap('holdMap', 'mapSVG', map_data, covid_data)
  function load_map() {
    $.ajax({
          type: "POST",
          url: "load_map", // url on python side
          contentType: "application/json",
          success: function (dataset) {
            map_data = dataset.data;
            covid_data = dataset.covid;
            console.log(covid_data)
            makeMap('holdMap', 'mapSVG', map_data, covid_data)
          },
          async: true
    });
  }
  </script>

{% endblock %}
