<!DOCTYPE HTML>
<html>
<head>
  {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title</title>
  {% endif %}
  {% assets "d3_viz" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
</head>
<meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0'>
<!-- Fonts -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src='https://cdnjs.com/libraries/d3-legend'></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://unpkg.com/d3-foresight"></script>
<div>
  <div class="w3-bar w3-black">
    <span class="w3-bar-item w3-display-topmiddle">App Title</span>
    <div class="w3-dropdown-click">
      <button class="w3-button" onclick="myFunction()"> Menu <i class="fa fa-caret-down"></i> </button>
      <div id="demo" class="w3-dropdown-content w3-bar-block w3-card">
        <a href="{{ url_for('blueprint.index') }}" class="w3-bar-item w3-button"> Home</a>
        <a href="{{ url_for('blueprint.render_input') }}" class="w3-bar-item w3-button"> Input</a>
        <a href='https://diseasemodeling.github.io/COVID19/' class="w3-bar-item w3-button"> About</a>
        <a href='https://github.com/diseasemodeling/COVID19' class='w3-bar-item w3-button'> Github</a>
        <a href='https://blogs.umass.edu/chaitrag/chaitra-gopalappa/' class='w3-bar-item w3-button'> Our Team</a>
      </div>
    </div>
  </div>
  <div class='w3-col s12'>{% block content %}{% endblock %}</div>
  <footer class='w3-black'>
    <p>Footer</p>
  </footer>
</div>

<script>
// Toggle between showing and hiding the sidebar, and add overlay effect

function myFunction() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
// Close the sidebar with the close button


</script>
</body>
</html>
