<!DOCTYPE HTML>
<html>
<head>
  {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Title</title>
  {% endif %}
  {% assets "d3_viz" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
</head>
<!-- Fonts -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://unpkg.com/d3-foresight"></script>
<div>

<nav class="w3-sidebar w3-collapse w3-border-right w3-white w3-animate-bottom" style="display:block;width:0%" id="mySidebar">
  <div class="w3-bar-block">
    <a href="{{ url_for('blueprint.index') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i> Home</a>
  </div>
</nav>

<div class="w3-main" id='main' style="margin-left:0%">
  <div id='topBar' class="w3-bar w3-top w3-dark-grey w3-large" style="height:5%; width:100%">
    <!--<button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> Menu</button>-->
    <span class="w3-bar-item w3-display-middle">App Title</span>
    <span class="w3-bar-item w3-right">

    </span>
  </div>
  <div style='padding-top:5%;height:95%'>{% block content %}{% endblock %}</div>
</div>
</div>

<script>
// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    document.getElementById("main").style.marginLeft = "0%";
    document.getElementById("mySidebar").style.width = "0%";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("topBar").style.width = "100%";
  }else{
    document.getElementById("main").style.marginLeft = "15%";
    document.getElementById("mySidebar").style.width = "15%";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("topBar").style.width = "85%";
  }
}

// Close the sidebar with the close button
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.width = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("topBar").style.width = "100%";
}

</script>
</body>
</html>
