{% extends "base.html" %}

{% block content %}
  <div id='InputHome'>
    <div id='saveInputs'>
      <input class="w3-button w3-grey" type="button" value='Save All Changes' onclick="save_data()">
    </div>
    <div class='w3-col' style="width:30%; height:80%; overflow-y:scroll;" id='holdIncome'>
      <table class="w3-table-all w3-hoverable w3-small w3-centered" id=incomeTable>
        <thead>
          <tr>
            <th id=InHead0>Date</th>
            <th id=InHead2>Location</th>
            <th id=InHead3>Amount</th>
            <th id=InHead4>Accept</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input  id=IDate type=date></td>
            <td>
              <input id=ILoc type=text list="locationIlist" placeholder="Location...">
              <datalist id="locationIlist">
                <option value="L3 KEO">
                <option value="Moen">
                <option value="UMASS Grad">
                <option value="From Savings">
                <option value="Refund">
                <option value="Venmo Withdrawel">
                <option value="Other">
              </datalist>
            </td>
            <td><input id=IAm type=number value=0 min=0></td>
            <td><button class='w3-button' onclick='CommitIncome()'>&#9989;</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='w3-col' style="width:60%; height:80%; overflow-y:scroll;" id='holdExpense'>
      <table class="w3-table-all w3-hoverable w3-small w3-centered" id=expenseTable>
        <thead>
          <tr>
            <th id=ExpHead0>Date</th>
            <th id=ExpHead1>Category</th>
            <th id=ExpHead2>SubCategory</th>
            <th id=ExpHead3>Location</th>
            <th id=ExpHead4>Business</th>
            <th id=ExpHead5>Amount</th>
            <th id=ExpHead6>Accept</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input id=EDate type=date></td>
            <td id=ECat></td>
            <td>
              <input id=ESub onchange='fill_c()' type=text value='' list="subcatlist" placeholder="Subcategory...">
              <datalist id="subcatlist"></datalist>
            </td>
            <td><input id=ELoc type=text value='' placeholder="Location..."></td>
            <td>
              <input id=EBiz onchange='fill()' type=text value='' list="businesslist" placeholder="Business...">
              <datalist id="businesslist"></datalist>
            </td>
            <td><input id=EAm type=number value=0 min=0></td>
            <td><button class='test' onclick='CommitExpense()'>&#9989;</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='w3-col' style="width:30%;height:20%; overflow-y:scroll;" id='holdBudget'>
      <table class="w3-table-all w3-hoverable w3-small w3-centered" id=budgetTable>
        <thead>
          <tr>
            <th id=InHead0>Category</th>
            <th id=InHead1>Percentage</th>
            <th id=BuHead2>Edit</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class='w3-col' style="width:30%;height:20%; overflow-y:scroll;" id='holdGoal'>
      <table class="w3-table-all w3-hoverable w3-small w3-centered" id=goalTable>
        <thead>
          <tr>
            <th id=GoHead0>Date</th>
            <th id=GoHead1>Amount</th>
            <th id=GoHead2>Comment</th>
            <th id=GoHead3>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input  id=GDate type=date></td>
            <td><input id=GAm type=number value=0 min=0></td>
            <td><input id=GCom></td>
            <td><button class='test' onclick='CommitGoal()'>&#9989;</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript">
    generateDynamicTable(to_object("expense"), "expenseTable")
    generateDynamicTable(to_object("income"), "incomeTable")
    generateDynamicTable(to_object("goal"), "goalTable")
    generateDynamicTable(to_object("budget"), "budgetTable")
    function save_data() {
      to_python = [{'expense':tableToJson("expenseTable"),'income':tableToJson("incomeTable"),
                    'budget':tableToJson("budgetTable"), 'goal':tableToJson("goalTable")}]
      clearTable('incomeTable')
      clearTable('expenseTable')
      clearTable('budgetTable')
      clearTable('goalTable')
      $.ajax({
    				type: "POST",
    				url: "save_new_data", // url on python side
            data: JSON.stringify(to_python),
    				contentType: "application/json",
            success: function (dataset) {
              all_data = dataset.data;
              generateDynamicTable(to_object("expense"), "expenseTable")
              generateDynamicTable(to_object("income"), "incomeTable")
              generateDynamicTable(to_object("goal"), "goalTable")
              generateDynamicTable(to_object("budget"), "budgetTable")
              console.log(all_data)
            },
            async: false
      });
    }
  </script>
{% endblock %}
