{% extends 'base.html' %}

{% block content %}

<div class='w3-container w3-col s12' style="background-color:#34495E;" id='everything'>
    <div class="w3-panel w3-border w3-round w3-col s3 w3-blue-grey w3-margin" style='height:85vh'>
      <p> Select a State:
      <select id="selectState" onchange="updateMap()" style='width:50%'>
        <option value="New York">New York</option>
      </select></p>
      <div class='w3-row w3-border w3-dark-grey' id='holdMap'></div>
      <p> Color Map By:
      <select  name="colorState" id="colorState" onchange="updateMap()">
        <option value="positive">Cumulative Infections</option>
        <option value="totalTestResults">Number of Tests</option>
        <option value="death">Total Deaths</option>
        <option value="hospitalized">Cum. Hospitalizations</option>
        <option value="recovered">Cum. Recoveries</option>
      </select></p>
      <p> As Of:
      <input type="date" name="mapDate" id="mapDate" value='2020-05-30' onchange='updateMap()'></p>
       <p> Choose Graph Scale:
       <select id='chooseScale' onchange='updateMap()'>
         <option value='linear'>Linear</option>
         <option value='log'> Logarithmic</option>
       </select></p>
       <p> Cumulative or Daily:
       <select id='chooseCum' onchange='updateMap()'>
         <option value='cumulative'> Cumulative</option>
         <option value='daily'> Daily</option>
       </select></p>
       <a href="{{ url_for('blueprint.render_input') }}" class='w3-col w3-button w3-round w3-black'>Simulate a Policy for this State</a>
    </div>
    <div class='w3-panel w3-border w3-round w3-col s8 w3-blue-grey' style='overflow-y:scroll; height:85vh'>
      <div class=' w3-border-bottom w3-row'>
        <h1 style='text-align:center' class='w3-col s12' id=stateTitle></h1>
      </div>
      <div class='w3-col s12 w3-panel' id="graphPanel">
        <div class='w3-light-grey w3-border w3-round' id='holdInfections'></div>
        <div class='w3-panel w3-light-grey w3-border w3-round' id='holdHospitalization'></div>
        <div class='w3-light-grey w3-border w3-round' id='holdDeath'></div>
        <div class='w3-panel w3-light-grey w3-border w3-round' id='holdTest'></div>
      </div>
    </div>
</div>

<script>

console.log({{data}})

states_hash ={
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District Of Columbia': 'DC',
    'Federated States Of Micronesia': 'FM',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Marshall Islands': 'MH',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands': 'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
  }

stateDropdown()
updateMap()



function updateMap() {
  date = d3.select("#mapDate")._groups[0][0].value
  state = d3.select("#selectState")._groups[0][0].value
  document.getElementById("stateTitle").innerHTML = state
  statistic = d3.select("#colorState")._groups[0][0].value
  scaleType = d3.select("#chooseScale")._groups[0][0].value
  isCumulative = d3.select("#chooseCum")._groups[0][0].value
  date = parseFloat(date.replace(/-/g, ""))
  d3.json("https://cdn.jsdelivr.net/npm/us-atlas@3/states-albers-10m.json").then(function(map_data) {
    d3.json("https://covidtracking.com/api/v1/states/daily.json").then(function(covid_data){
      console.log(covid_data)
      makeMap('holdMap', 'mapSVG', date, statistic, map_data, covid_data)
      makeCovidTrackerLine('holdInfections', 'inf', covid_data, scaleType, state, 'positive', cumulative=isCumulative)
      makeCovidTrackerLine('holdHospitalization', 'hosp', covid_data, scaleType, state, 'hospitalized', cumulative=isCumulative)
      makeCovidTrackerLine('holdDeath', 'deat', covid_data, scaleType, state, 'death', cumulative=isCumulative)
      makeCovidTrackerLine('holdTest', 'tests', covid_data, scaleType, state, 'totalTestResults', cumulative=isCumulative)
    })
  })
}

function stateDropdown(id='selectState'){
  dropdown = document.getElementById(id)
  for (state in states_hash){
    var stateOption = new Option(state, state)
    dropdown.options.add(stateOption)
  }
}

</script>
{% endblock %}
