{% extends 'base.html' %}

{% block content %}

<div class='w3-container w3-light-grey' id='everything'>
  <div class="w3-col s12 w3-border" id="dataPanel">
    <div class="w3-col s3">
      <p> Select a State: </p>
      <select class="w3-select" name="selectState" id="selectState" onchange="updateMap()">
        <option value="New York">New York</option>
      </select>
      <div class='w3-row w3-white w3-border' id='holdMap'></div>
      <p> Color By: </p>
      <select class="w3-select" name="colorState" id="colorState" onchange="updateMap()">
        <option value="positive">Cumulative Infections</option>
        <option value="total">Number of Tests</option>
        <option value="death">Total Deaths</option>
        <option value="hospitalized">Cum. Hospitalizations</option>
        <option value="recovered">Cum. Recoveries</option>
      </select>
      <p> Show From Date: </p>
      <input type="date" name="mapDate" id="mapDate"
       value='2020-05-18' onchange='updateMap()'>
    </div>
    <div class='w3-col s4' id="graphColumn1">
      <div id='holdInfections'></div>
      <div id='holdHospitalization'></div>
    </div>
    <div class='w3-col s4' id="graphColumn2">
      <div id='holdDeath'></div>
      <div id='holdTest'></div>
    </div>
  </div>
</div>

<script>


function updateSliderValue(sliderId, showValueId){
  var param1Slider = document.getElementById(sliderId)
  var showParam1Value = document.getElementById(showValueId)
  showParam1Value.innerHTML = param1Slider.value;
}
states_hash =
  {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District Of Columbia': 'DC',
    'Federated States Of Micronesia': 'FM',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Marshall Islands': 'MH',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands': 'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
  }

stateDropdown()
updateMap()

function updateMap() {
  date = d3.select("#mapDate")._groups[0][0].value
  state = d3.select("#selectState")._groups[0][0].value
  statistic = d3.select("#colorState")._groups[0][0].value
  date = parseFloat(date.replace(/-/g, ""))
  d3.json("https://cdn.jsdelivr.net/npm/us-atlas@3/states-albers-10m.json").then(function(map_data) {
    d3.json("https://covidtracking.com/api/v1/states/daily.json").then(function(covid_data){
      makeMap('holdMap', 'mapSVG', date, statistic, map_data, covid_data)
      makeLine('holdInfections', 'inf', covid_data, state, 'positive')
      makeLine('holdHospitalization', 'hosp', covid_data, state, 'hospitalized')
      makeLine('holdDeath', 'deat', covid_data, state, 'death')
      makeLine('holdTest', 'tests', covid_data, state, 'total')
    })
  })
}

function stateDropdown(id='selectState'){
  dropdown = document.getElementById(id)
  for (state in states_hash){
    var stateOption = new Option(state, state)
    dropdown.options.add(stateOption)
  }
}

</script>
{% endblock %}
