{% extends 'base.html' %}

{% block content %}

<div class='w3-container w3-light-grey' id='everything'>
  <div class="w3-col w3-border s3" id="controlPanel">
    <a href="{{ url_for('blueprint.download_file') }}">Download Data Template</a>
    <textarea type='text' id='testpaste' placeholder='Paste Excel Data Here' onchange='clip()'></textarea>

    <div class="w3-row">
      <h3> Enter Data </h3>
    </div>
  </div>

  <div class='w3-col s3'>
    <table id=testtable class='w3-table w3-bordered w3-border w3-hoverable w3-tiny w3-centered'>
    </table>
  </div>
</div>

<script>

function clip() {
    // get the clipboard text
    //var clipText = window.clipboardData.getData('Text');
    var text = d3.select("#testpaste")._groups[0][0].value
    // split into rows
    clipRows = text.split(String.fromCharCode(10));
    // split rows into columns
    for (i=0; i<clipRows.length; i++) {
        clipRows[i] = clipRows[i].split(String.fromCharCode(9));
    }
    // write out in a table
    document.getElementById('testtable').innerHTML = ''
    table = document.getElementById("testtable")
    titleRow = table.insertRow();
    newCell = titleRow.insertCell();
    newCell.innerText = 'Date'
    newCell = titleRow.insertCell();
    newCell.innerText = 'Param1'
    newCell = titleRow.insertCell();
    newCell.innerText = 'Param2'
    for (i=0; i<clipRows.length - 1; i++) {
        newRow = table.insertRow();
        for (j=0; j<clipRows[i].length; j++) {
            newCell = newRow.insertCell();
            if (clipRows[i][j].length == 0) {
                newCell.innerText = ' ';
            }
            else {
                newCell.contentEditable = true
                newCell.innerText = clipRows[i][j];
            }
        }
    }
}


function tableToJson(id) {
  var table = document.getElementById(id)
  var data = [];
  // first row needs to be headers
  var headers = [];
  for (var i=0; i<table.rows[0].cells.length; i++) {
      headers[i] = table.rows[0].cells[i].innerHTML.replace(/ /gi,'');
  }
  // go through cells
	start = 0
  for (var i=start; i<table.rows.length; i++) {
      var tableRow = table.rows[i];
      var rowData = {};
      for (var j=0; j<tableRow.cells.length ; j++) {
          rowData[headers[j]] = tableRow.cells[j].innerHTML;
      }
      data.push(rowData);
  }
  return data;
}
</script>
{% endblock %}
