{% extends 'base.html' %}

{% block content %}

<div class='w3-container w3-light-grey' id='everything'>
  <div class="w3-col w3-border s2" id="pastePanel">
    <p> Lets type up some instructions here </p>
    <a href="{{ url_for('blueprint.download_file') }}">1. Download Template</a>
    <textarea type='text' id='userpaste' placeholder='2. Paste Excel Data Here'></textarea>
    <p></p>
    <button class='w3-button w3-dark-grey' onclick='clip()'>3. Upload Data</button>
  </div>
  <div class='w3-col s6' style="overflow-y:scroll; height:90vh">
    <table id=usertable class='w3-table-all w3-hoverable w3-tiny w3-centered'></table>
  </div>
</div>

<script>

function clip() {
    var text = d3.select("#userpaste")._groups[0][0].value // get user pasted data
    clipRows = text.split(String.fromCharCode(10));  // split into rows
    for (i=0; i<clipRows.length; i++) {
        // split rows into columns
        clipRows[i] = clipRows[i].split(String.fromCharCode(9));
    }
    document.getElementById('usertable').innerHTML = '' // clear old table if any
    table = document.getElementById("usertable") // establish new table

    for (i=0; i<clipRows.length - 1; i++) {
        newRow = table.insertRow();
        for (j=0; j<clipRows[i].length; j++) {
            newCell = newRow.insertCell();
            if (clipRows[i][j].length == 0) {
                newCell.innerText = '';
            }
            else {
                newCell.contentEditable = true
                newCell.innerText = clipRows[i][j];
            }
        }
    }
}


function tableToJson(id) {
  var table = document.getElementById(id)
  var data = [];
  // first row needs to be headers
  var headers = [];
  for (var i=0; i<table.rows[0].cells.length; i++) {
      headers[i] = table.rows[0].cells[i].innerHTML.replace(/ /gi,'');
  }
  // go through cells
	start = 1
  for (var i=start; i<table.rows.length; i++) {
      var tableRow = table.rows[i];
      var rowData = {};
      for (var j=0; j<tableRow.cells.length ; j++) {
          rowData[headers[j]] = tableRow.cells[j].innerHTML;
      }
      data.push(rowData);
  }
  return data;
}
</script>
{% endblock %}
