{% extends "base.html" %}

{% block content %}

<div class='w3-card-4 w3-light-grey w3-display-middle'>
  <h2 class="w3-panel w3-black" style='margin:0px;text-align: center;'>Login</h2>
  <div class='w3-container w3-border' id='login'>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}
        {{ form.username(class='w3-input w3-border', size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}
        {{ form.password(class='w3-input w3-border', size=32) }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <p>{{ form.submit(class='w3-btn w3-black w3-round') }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
  </div>
</div>
{% endblock %}
