{% extends 'base.html' %}

{% block content %}

<div class='w3-container' style="background-color:#34495E; font-size:1vw"  id='everything'>
  <div class='w3-panel  w3-col s3'>
    <div class='w3-border w3-round w3-blue-grey' style="height:67.5vh">
      <h3 class='w3-border-bottom' style='text-align:center'>Simulation Parameters</h3>
      <h4 class='w3-border-top' style='text-align:center'> Timeline</h4>
      <div class='w3-row'>
        <div class='w3-col s6'>Start Simulation:</div>
        <input id=simStart  class='w3-round w3-col s6' type=date value=2020-08-24 ></input>
      </div>
      <div class='w3-row'>
        <div class='w3-col s6'>End Simulation:</div>
        <input id=simEnd  class='w3-round w3-col s6' type=date value=2020-11-20></input>
      </div>
      <h3 class='w3-border-top' style='text-align:center'> Starting Conditions</h3>
      <div>
        <div class='w3-row'>
          <div class='w3-col s8'>Enter Population Size:</div>
          <input id=popSize class='w3-round w3-col s4' type=number value=38000></input>
        </div>
        <div class='w3-row'>
           <div class='w3-col s8'>Initial Infections:</div>
           <input id=initialInfections class='w3-round w3-col s4' type=number value=250></input>
        </div>
        <div class='w3-row'>
          <div class='w3-col s8'>Outside Infections(RENAME):</div>
          <input id=outsideInfections class='w3-round w3-col s4' type=number value=500></input>
        </div>
      </div>
      <h4 class='w3-border-top' style='text-align:center'> Unit Costs (Per Person)</h4>
      <div>
        <div class='w3-row'>
          <div class='w3-col s9'>Symptom-Based Testing:</div>
          <input id=costSB class='w3-round w3-col s3' type=number value=50></input>
        </div>
        <div class='w3-row'>
          <div class='w3-col s9 w3-tooltip'>Contact Trace & Testing
             <i class="fa fa-info-circle" aria-hidden="true"></i>:
             <span class="w3-text">(<em>Per Contact</em>)</span>
           </div>
          <input id=costCT class='w3-round w3-col s3' type=number value=50></input>
        </div>
        <div class='w3-row'>
          <div class='w3-col s9'>Mass Testing:</div>
          <input id=costUT class='w3-round w3-col s3' type=number value=50></input>
        </div>
        <div class='w3-row'>
          <div class='w3-col s9'>Quarantine:</div>
          <input id=costQ class='w3-round w3-col s3' type=number value=50></input>
        </div>
      </div>
    </div>
    <div class='w3-border w3-panel w3-round w3-blue-grey' style="height:15vh">
      <div><button class='w3-button w3-green w3-round w3-border w3-container w3-col s12' onclick="switchTab('goReview', 'reviewTab')" style='height:7vh'>Review Policies</button></div>
      <div><button class='w3-button w3-red w3-round w3-border w3-container w3-col s12' onclick='start_sim()' style='height:7vh'>Run Simulation</button></div>
    </div>
  </div>
  <div class='w3-panel w3-border w3-round w3-col s9 w3-blue-grey' style="height:85vh; overflow-y:scroll">
    <div class="w3-bar w3-black">
      <button id=goReview class="w3-bar-item w3-button tablink w3-red" onclick="switchTab('goReview', 'reviewTab')">Data Entry</button>
      <button id=goResult class="w3-bar-item w3-button tablink" onclick="switchTab('goResult', 'simResultGraphs')">Simulation Results</button>
    </div>
    <div id=reviewTab class='tabbed'>
      <div class='w3-panel w3-col s6'>
        <div class='w3-border w3-round' style='height:75vh; overflow-y:scroll'>
          <h2 style='text-align:center; margin-bottom:0px'><u>Introduction & Guide</u></h2>
          <div class='w3-row'>
            <p class='w3-col s12'> This is a simulation tool for the evaluation
            of preparedness plans (up to 3 at a time) at an organization-level, such
            as a university.</p>
          </div>
          <div class='w3-row'>
            <p class='w3-col s12'> Define population sizes, expected costs (left), and
               input up to 3 scenarios for each of the following:</p>
            <div class='w3-col s6'> 1. Population Contact Rates <br> 2. Contact Tracing & Testing</div>
            <div class='w3-col s6'> 3. Mass Testing Rates <br> 4. Transmission Risk (Soon)</div>
          </div>
          <div class='w3-row w3-border'>
            <h3 style='text-align:center'> Definitions </h3>
            <p> Contact Rate - Average number of contacts per person per day </p>
            <p> Mass Testing - Percent of the population to test per day </p>
            <p> Trace & Test - Rate at which asymptomatic persons are diagnosed, equivalent to inverse of days from exposure to dianosis </p>
            <p> Transmission Risk - </p>
          </div>
          <div class='w3-row'>
            <p class='w3-col s12'> For more information: Follow the links at the bottom of this page</p>
          </div>
        </div>
      </div>
      <div class='w3-panel w3-border w3-col s6 w3-round' style='height:75vh'>
        <div class='w3-border-bottom'>
          <div>Plan A</div>
          <div id=holdPlanA class='w3-border-bottom w3-container'>
            <div class=w3-row>
              <div id=CRaLabel class='w3-col s4'>Contact Rate: </div>
              <div class="w3-col s6">
                1 <input id=CRa type="range" min="1" max="25" value="12" class="slider" onchange='updateSliderOverview()'>25
              </div>
              <div id=CRaVal></div>
            </div>
            <div class=w3-row>
              <div id=MTaLabel class='w3-col s4'>Mass Testing: </div>
              <div class="w3-col s6">
                0 <input id=MTa type="range" min="0" max="100" value="50" class="slider" onchange='updateSliderOverview()'>100
              </div>
              <div id=MTaVal></div>
            </div>
            <div class=w3-row>
              <div id=TTaLabel class='w3-col s4'>Trace & Test: </div>
              <div class="w3-col s6">
                0 <input id=TTa type="range" min="0" max="100" value="50" class="slider" onchange='updateSliderOverview()'>100
              </div>
              <div id=TTaVal></div>
            </div>
            <div class=w3-row>
              <div id=TRaLabel class='w3-col s4'>Tramsission Risk: </div>
              <div class="w3-col s6">
                1 <input id=TRa type="range" min="1" max="17" value="8" class="slider" onchange='updateSliderOverview()'>17
              </div>
              <div id=TRaVal></div>
            </div>
          </div>
        </div>
        <div class='w3-border-bottom w3-container'>
          <div>Plan B</div>
          <div id=holdPlanB class='w3-border-bottom'>
            <div class=w3-row>
              <div id=CRbLabel class='w3-col s4'>Contact Rate: </div>
              <div class="w3-col s6">
                1 <input id=CRb type="range" min="1" max="25" value="12" class="slider" onchange='updateSliderOverview()'>25
              </div>
              <div id=CRbVal></div>
            </div>
            <div class='w3-row'>
              <div id=MTbLabel class='w3-col s4'>Mass Testing: </div>
              <div class="w3-col s6">
                0 <input id=MTb type="range" min="0" max="100" value="50" class="slider" onchange='updateSliderOverview()'>100
              </div>
              <div id=MTbVal></div>
            </div>
            <div class='w3-row'>
              <div id=TTbLabel class='w3-col s4'>Trace & Test: </div>
              <div class="w3-col s6">
                0 <input id=TTb type="range" min="0" max="100" value="50" class="slider" onchange='updateSliderOverview()'>100
              </div>
              <div id=TTbVal></div>
            </div>
            <div class='w3-row'>
              <div id=TRbLabel class='w3-col s4'>Tramsission Risk: </div>
              <div class="w3-col s6">
                1 <input id=TRb type="range" min="1" max="17" value="8" class="slider" onchange='updateSliderOverview()'>17
              </div>
              <div id=TRbVal></div>
            </div>
          </div>
        </div>
        <div class='w3-border-bottom w3-container'>
          <div>Plan C</div>
          <div id=holdPlanC class='w3-border-bottom'>
            <div class='w3-row'>
              <div id=CRcLabel class='w3-col s4'>Contact Rate: </div>
              <div class="w3-col s6">
                1 <input id=CRc type="range" min="1" max="25" value="12" class="slider" onchange='updateSliderOverview()'>25
              </div>
              <div id=CRcVal></div>
            </div>
            <div class='w3-row'>
              <div id=MTcLabel class='w3-col s4'>Mass Testing: </div>
              <div class="w3-col s6">
                0 <input id=MTc type="range" min="0" max="100" value="50" class="slider" onchange='updateSliderOverview()'>100
              </div>
              <div id=MTcVal></div>
            </div>
            <div class='w3-row'>
              <div id=TTcLabel class='w3-col s4'>Trace & Test: </div>
              <div class="w3-col s6">
                0 <input id=TTc type="range" min="0" max="100" value="50" class="slider" onchange='updateSliderOverview()'>100
              </div>
              <div id=TTcVal></div>
            </div>
            <div class='w3-row'>
              <div id=TRcLabel class='w3-col s4'>Tramsission Risk: </div>
              <div class="w3-col s6">
                1 <input id=TRc type="range" min="1" max="17" value="8" class="slider" onchange='updateSliderOverview()'>17
              </div>
              <div id=TRcVal></div>
            </div>
          </div>
        </div>
        <div class='w3-border w3-round'>
          <table class='w3-table-all w3-small w3-centered' style='color:black'>
            <tr>
              <th class='w3-border'>Policy Name</th>
              <th class='w3-border' style="color:steelblue";>Plan A</th>
              <th class='w3-border' style="color:red";>Plan B</th>
              <th class='w3-border' style="color:green";>Plan C</th>
            </tr>
            <tr>
              <td class='w3-border'>Contact Rate</td>
              <td id=crA class='w3-border'></td>
              <td id=crB class='w3-border'></td>
              <td id=crC class='w3-border'></td>
            </tr>
            <tr>
              <td class='w3-border'>Mass Testing (%)</td>
              <td id=mtA class='w3-border'></td>
              <td id=mtB class='w3-border'></td>
              <td id=mtC class='w3-border'></td>
            </tr>
            <tr>
              <td class='w3-border'>Trace & Tracing (%)</td>
              <td id=ttA class='w3-border'></td>
              <td id=ttB class='w3-border'></td>
              <td id=ttC class='w3-border'></td>
            </tr>
            <tr>
              <td class='w3-border'>Transmission Risk (%)</td>
              <td id=trA class='w3-border'></td>
              <td id=trB class='w3-border'></td>
              <td id=trC class='w3-border'></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id='simResultGraphs' class='tabbed' style="display:none">
      <div id=simNotRunYet style='display:block'>
        <h3> You have not run the simulator yet</h3>
        <h3> Click <b>REVIEW POLICIES</b> (bottom left) prior to running</h3>
        <h3> Click <b>RUN SIMULATION</b> button to simulate your policy scenarios! </h3>
      </div>
      <div id=simRunning style='display:none'>
        <div>
          <h3> The simulator is currently running...  Estimated Time is about ~ <i id=timeToComp>5</i> seconds per scenario</h3>
          <p style='text-align:center'><i class="fa fa-spinner w3-spin" style="font-size:100px"></i></p>
          <h2> Progress </h2>
          <div id=holdProgA class="w3-light-grey" style='display:none'>
            <div id=progA class="w3-container w3-blue w3-center" style="width:20%">Plan A: 0%</div>
          </div><br>
          <div id=holdProgB class="w3-light-grey" style='display:none'>
            <div id=progB class="w3-container w3-red w3-center" style="width:20%">Plan B: 0%</div>
          </div><br>
          <div id=holdProgC class="w3-light-grey" style='display:none'>
            <div id=progC class="w3-container w3-green" style="width:20%">Plac C: 0%</div>
          </div><br>
          <h3> DO NOT LEAVE THIS PAGE while the simulation is running </h3>
          <h3> Results will be updated below every 15 seconds until the simulation has completed</h3>
          <h3> Once the simulation is completed, these messages will dissapear</h3>
        </div>
      </div>
      <div id=simCompleted style='display:none'>
        <h3> Simulation Completed,  <a href="{{ url_for('blueprint.download_newfile') }}">Download Excel File With Results (Not Functional Yet) </a></h3>
      </div>
      <div class='w3-col s6' style='height:60vh'>
        <div class='w3-border w3-light-grey' id=graphHospital></div>
        <div class='w3-border w3-light-grey' id=graphDeath></div>
        <div class='w3-border w3-light-grey' id=graphUndiagnosedCases></div>
        <div class='w3-border w3-light-grey' id=graphCost></div>
      </div>
      <div class='w3-col s6' style='height:60vh'>
        <div class='w3-border w3-light-grey' id=graphTrace></div>
        <div class='w3-border w3-light-grey' id=graphMass></div>
        <div class='w3-border w3-light-grey' id=graphDiagnosedCases></div>
        <div class='w3-border w3-light-grey' id=graphQuarentine></div>

      </div>
    </div>
  </div>

</div>

<script>

updateSliderOverview()
function updateSliderOverview(){
  valueCR_A = document.getElementById('CRa').value
  valueCR_B = document.getElementById('CRb').value
  valueCR_C = document.getElementById('CRc').value
  valueMT_A = document.getElementById('MTa').value
  valueMT_B = document.getElementById('MTb').value
  valueMT_C = document.getElementById('MTc').value
  valueTT_A = document.getElementById('TTa').value
  valueTT_B = document.getElementById('TTb').value
  valueTT_C = document.getElementById('TTc').value
  valueTR_A = document.getElementById('TRa').value
  valueTR_B = document.getElementById('TRb').value
  valueTR_C = document.getElementById('TRc').value
  document.getElementById('CRaVal').innerHTML = 'Value: ' + valueCR_A
  document.getElementById('crA').innerHTML = valueCR_A
  document.getElementById('MTaVal').innerHTML = 'Value: ' + valueMT_A
  document.getElementById('mtA').innerHTML = valueMT_A
  document.getElementById('TTaVal').innerHTML = 'Value: ' + valueTT_A
  document.getElementById('ttA').innerHTML = valueTT_A
  document.getElementById('TRaVal').innerHTML = 'Value: ' + valueTR_A
  document.getElementById('trA').innerHTML = valueTR_A

  document.getElementById('CRbVal').innerHTML = 'Value: ' + valueCR_B
  document.getElementById('crB').innerHTML = valueCR_B
  document.getElementById('MTbVal').innerHTML = 'Value: ' + valueMT_B
  document.getElementById('mtB').innerHTML = valueMT_B
  document.getElementById('TTbVal').innerHTML = 'Value: ' + valueTT_B
  document.getElementById('ttB').innerHTML = valueTT_B
  document.getElementById('TRbVal').innerHTML = 'Value: ' + valueTR_B
  document.getElementById('trB').innerHTML = valueTR_B

  document.getElementById('CRcVal').innerHTML = 'Value: ' + valueCR_C
  document.getElementById('crC').innerHTML = valueCR_C
  document.getElementById('MTcVal').innerHTML = 'Value: ' + valueMT_C
  document.getElementById('mtC').innerHTML = valueMT_C
  document.getElementById('TTcVal').innerHTML = 'Value: ' + valueTT_C
  document.getElementById('ttC').innerHTML = valueTT_C
  document.getElementById('TRcVal').innerHTML = 'Value: ' + valueTR_C
  document.getElementById('trC').innerHTML = valueTR_C
}


function data_for_sim(){
  simEnd = new Date(document.getElementById('simEnd').value).getTime()
  simStart = new Date(document.getElementById('simStart').value).getTime()
  simLength = simEnd - simStart
  numDays = Math.round(simLength / 60 / 60 / 24 / 1000)
  to_python = {'state':'UMASS',
               'policy': {'CR':{'A':document.getElementById('CRa').value,
                                'B':document.getElementById('CRb').value,
                                'C':document.getElementById('CRc').value,},
                          'MT':{'A':document.getElementById('MTa').value,
                                'B':document.getElementById('MTb').value,
                                'C':document.getElementById('MTc').value,},
                          'TT':{'A':document.getElementById('TTa').value,
                                'B':document.getElementById('TTb').value,
                                'C':document.getElementById('TTc').value,},
                          'TR':{'A':document.getElementById('TRa').value,
                                'B':document.getElementById('TRb').value,
                                'C':document.getElementById('TRc').value,},},
               'cost':[document.getElementById('costSB').value,
                       document.getElementById('costCT').value,
                       document.getElementById('costUT').value,
                       document.getElementById('costQ').value],
               'start':document.getElementById('simStart').value,
               'end':document.getElementById('simEnd').value,
               'lenSim': numDays,
               'popSize':document.getElementById('popSize').value,
               'initialInfection':document.getElementById('initialInfections').value,
               'outsideInfection':document.getElementById('outsideInfections').value,
               'new':'True'}
  return to_python
}


function start_sim(to_python=null){
  document.getElementById('simNotRunYet').style.display = 'none'
  document.getElementById('simRunning').style.display = 'block'
  document.getElementById('simCompleted').style.display='none'
  switchTab('goResult', 'simResultGraphs')
  document.getElementById('timeToComp').innerHTML = 33
  if (to_python == null){
    reset_progress_bar()
    to_python = data_for_sim()
    console.log(to_python)
    d3.select("#infsim").remove()
    d3.select("#undiag").remove()
    d3.select("#hospsim").remove()
    d3.select("#deathsim").remove()
    d3.select("#costsim").remove()
    d3.select("#tracesim").remove()
    d3.select("#masssim").remove()
    d3.select("#quarsim").remove()
  }
  $.ajax({
        type: "POST",
        url: "prep_sim", // url on python side
        data: JSON.stringify(to_python),
        contentType: "application/json",
        success: function (dataset) {
          all_data = dataset.data;
          simA = to_object(all_data['A']['to_java'], 'A')
          console.log(simA)
          if (all_data['B']==undefined){simB=null}else{simB=to_object(all_data['B']['to_java'], 'B')}
          if (all_data['C']==undefined){simC=null}else{simC=to_object(all_data['C']['to_java'], 'C')}
          makeSimLine(parentName='graphDiagnosedCases', SVG_name='infsim',
                      dataType='Number of infected, diagnosed',
                      simA=simA, simB=simB, simC=simC)
          makeSimLine(parentName='graphUndiagnosedCases', SVG_name='undiag',
                      dataType='Number of infected, undiagnosed',
                      simA=simA, simB=simB, simC=simC)
          makeSimLine(parentName='graphHospital', SVG_name='hospsim',
                      dataType='Cumulative hospitalized',
                      simA=simA, simB=simB, simC=simC)
          makeSimLine(parentName='graphDeath', SVG_name='deathsim',
                      dataType='Cumulative deaths',
                      simA=simA, simB=simB, simC=simC)
          makeSimLine(parentName='graphCost', SVG_name='costsim',
                      dataType='Cumulative cost',
                      simA=simA, simB=simB, simC=simC);
          makeSimLine(parentName='graphTrace', SVG_name='tracesim',
                      dataType='Number of new diagnosis through contact tracing',
                      simA=simA, simB=simB, simC=simC)
          makeSimLine(parentName='graphMass', SVG_name='masssim',
                      dataType='Number of new diagnosis through universal testing',
                      simA=simA, simB=simB, simC=simC)
          makeSimLine(parentName='graphQuarentine', SVG_name='quarsim',
                      dataType='Number of quarantined (per day)(with 0% false positives)',
                      simA=simA, simB=simB, simC=simC)
          if (all_data['status'] == 'Not Finished'){
            update_progress_bar(all_data)
            start_sim(to_python=all_data)
          } else {
            document.getElementById('simRunning').style.display='none'
            document.getElementById('simCompleted').style.display='block'
          }
        },
  });
}


function reset_progress_bar(){
  document.getElementById('holdProgA').style.display = 'block'
  document.getElementById('progA').style.width = '20%';
  document.getElementById('progA').innerHTML = 'Plan A: 0%'
  document.getElementById('holdProgB').style.display = 'block'
  document.getElementById('progB').style.width = '20%';
  document.getElementById('progB').innerHTML = 'Plan B: 0%'
  document.getElementById('holdProgC').style.display = 'block'
  document.getElementById('progC').style.width = '20%';
  document.getElementById('progC').innerHTML = 'Plan C: 0%'
}

function update_progress_bar(all_data){
  simEnd = new Date(document.getElementById('simEnd').value).getTime()
  simStart = new Date(document.getElementById('simStart').value).getTime()
  simLength = simEnd - simStart
  numDays = Math.round(simLength / 60 / 60 / 24 / 1000)
  document.getElementById('holdProgA').style.display = 'block'
  if (to_object(all_data['A']['to_java']) != null){
    days_simulated = to_object(all_data['A']['to_java']).length
    percentComplete = 100 * days_simulated / numDays
    document.getElementById('progA').style.width = percentComplete + '%';
    document.getElementById('progA').innerHTML = 'Plan A: ' + String(parseInt(percentComplete)) + '%'
  }
  document.getElementById('holdProgB').style.display = 'block'
  if (to_object(all_data['B']['to_java']) != null){
    days_simulated = to_object(all_data['B']['to_java']).length
    percentComplete = 100 * days_simulated / numDays
    document.getElementById('progB').style.width = percentComplete + '%';
    document.getElementById('progB').innerHTML = 'Plan B: ' + String(parseInt(percentComplete)) + '%'
  }
  document.getElementById('holdProgC').style.display = 'block'
  if (to_object(all_data['C']['to_java']) != null){
    days_simulated = to_object(all_data['C']['to_java']).length
    percentComplete = 100 * days_simulated / numDays
    document.getElementById('progC').style.width = percentComplete + '%';
    document.getElementById('progC').innerHTML = 'Plan C: ' + String(parseInt(percentComplete)) + '%'
  }
}

function to_object(all_data, plan) {
  if (all_data != 'null'){
  json = JSON.parse(all_data)
  array = [];
  Object.keys(json).forEach(function(key){array.push(json[key])})
  } else {
    array=null
  }
  return array
}

function switchTab(clickTab, showTab) {
  var i;
  var x = document.getElementsByClassName("tabbed");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("w3-red", "");
  }
  document.getElementById(showTab).style.display = "block";
  document.getElementById(clickTab).className += ' w3-red'
  }

</script>
{% endblock %}
