{% extends 'base.html' %}

{% block content %}

<div class='w3-container' style="background-color:#34495E;"  id='everything'>
  <div class="w3-panel w3-col s2 w3-padding-right" id="pastePanel">
    <div class="w3-border w3-round w3-blue-grey" style="height:35vh">
      <p> Lets type up some instructions here </p>
    </div>
    <div class="w3-border w3-round w3-blue-grey w3-margin-top" style="height:10vh">
      <div> Choose a State To Simulate</div>
      <select class='w3-margin-top' id='simState' onchange='graph_stateChoice()' style='width:50%'>
        <option value="New York">New York</option>
      </select>
    </div>
    <div class="w3-border w3-round w3-blue-grey w3-margin-top" style="height:35vh">
      <div> Quick View </div>
      <div class='w3-border w3-light-grey' id=resultGraph></div>
      <select id='simStateDT' onchange='graph_stateChoice()' style='width:50%'>
        <option value="positive">Cases</option>
        <option value="death">Deaths</option>
        <option value="hospitalized">Hospitalizations</option>
      </select>
    </div>
  </div>
  <div class='w3-panel w3-border w3-round w3-col s8 w3-blue-grey' style="height:85vh">
    <p class='w3-border'>
      <h2 id=StateNameTitle style='text-align:center'></h2>
    </p>
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink w3-red" onclick="switchTab(event, 'reviewTab')">Overview + Cost Parameters</button>
      <button class="w3-bar-item w3-button tablink" onclick="switchTab(event, 'contactReductionTab')">Contact Reduction</button>
      <button class="w3-bar-item w3-button tablink" onclick="switchTab(event, 'universalTestingTab')">Universal Testing</button>
      <button class="w3-bar-item w3-button tablink" onclick="switchTab(event, 'contactTracingTab')">Contact Tracing</button>
    </div>
    <div id=contactReductionTab class='tabbed' style="display:none">
      <div class='w3-panel  w3-col s6'>
        <div class='w3-border w3-round' style='height:30vh'>
          <p>Contact Reduction</p>
          <p>Description goes here</p>
        </div>
        <div class='w3-border w3-round w3-margin-top' style='height:30vh'>
          <div class='w3-border w3-light-grey' id=inputGraphContactReduction1></div>
        </div>
      </div>
      <div class='w3-panel w3-col s6 w3-round w3-border' style='height:62.5vh'>
        <table id=usertableCR class='w3-table-all w3-hoverable w3-tiny w3-centered' style="color:black"></table>
        <p><button id=saveCRtable class='w3-button w3-green w3-round w3-block' onclick='savePolicies()'>Save Policies</button></p>
      </div>
    </div>
    <div id=universalTestingTab class='tabbed' style="display:none">
      <div class='w3-panel  w3-col s6'>
        <div class='w3-border w3-round' style='height:30vh'>
          <p>Universal Testing</p>
          <p>Description goes here</p>
        </div>
        <div class='w3-border w3-round w3-margin-top' style='height:30vh'>
          <div class='w3-border w3-light-grey' id=inputGraphUniversalTracing1></div>
        </div>
      </div>
      <div class='w3-panel w3-col s6 w3-round w3-border' style='height:62.5vh'>
        <table id=usertableUT class='w3-table-all w3-hoverable w3-tiny w3-centered' style="color:black"></table>
        <p><button id=saveUTtable class='w3-button w3-green w3-round w3-block' onclick='savePolicies()'> Save Policies</button></p>
      </div>
    </div>
    <div id=contactTracingTab class='tabbed' style="display:none">
      <div class='w3-panel  w3-col s6'>
        <div class='w3-border w3-round' style='height:30vh'>
          <p>Contact Tracing</p>
          <p>Description goes here</p>
        </div>
        <div class='w3-border w3-round w3-margin-top' style='height:30vh'>
          <div class='w3-border w3-light-grey' id=inputGraphContactTracing1></div>
        </div>
      </div>
      <div class='w3-panel w3-col s6 w3-round w3-border' style='height:62.5vh'>
        <table id=usertableCT class='w3-table-all w3-hoverable w3-tiny w3-centered' style="color:black"></table>
        <p><button id=saveCTtable class='w3-button w3-green w3-round w3-block' onclick='savePolicies()'> Save Policies</button></p>
      </div>
    </div>
    <div id=reviewTab class='tabbed'>
      <div class='w3-panel w3-col s6'>
        <div class='w3-border w3-round' style='height:30vh'>
          <p>General Introduction To The Policy Builder</p>
          <p>Description goes here</p>
        </div>
        <div class='w3-border w3-round w3-margin-top' style='height:30vh'>
          <p> Cost Parameters (per person)</p>
          <div>
            <p class='w3-round'>Cost of Contact Tracing:
               <input id=costCT class='w3-round' type=number value=50></input>
             </p>
            <p class='w3-round'>Cost of Universal Testing:
              <input id=costUT class='w3-round' type=number value=50></input>
            </p>
            <p class='w3-round'>Unemployement Wage:
               <input id=costUW class='w3-round' type=number value=50></input>
            </p>
          </div>
        </div>
      </div>
      <div class='w3-panel w3-col s6 w3-round' style='height:62.5vh'>
        <div class='w3-border w3-light-grey' id=inputGraphContactReduction2></div>
        <div class='w3-border w3-light-grey' id=inputGraphContactTracing2></div>
        <div class='w3-border w3-light-grey' id=inputGraphUniversalTracing2></div>
      </div>
    </div>
  </div>
  <div class='w3-panel  w3-col s2'>
    <div class='w3-border w3-round w3-blue-grey' style="height:62.5vh">
      <p class="w3-border-bottom" style='text-align:center'>Simulation Overview</p>
      <p>
        <div id=overviewStateChoice  style='font-size:16px'> State Choice: xyz</div>
        <div class='w3-border-top' id=overviewCost1 style='font-size:12px'>Contact Tracing: $50</div>
        <div id=overviewCost2 style='font-size:12px'>Universal Testing: $60</div>
        <div id=overviewCost3 style='font-size:12px'>Unemployment Wage: $69</div>
      </p>
      <p class='w3-border-top'>Policy Builder Checklist</p>
      <table class='w3-table-all w3-tiny w3-centered' style='color:black'>
        <tr>
          <th class='w3-border'>Policy Name</th>
          <th class='w3-border'>Plan A</th>
          <th class='w3-border'>Plan B</th>
          <th class='w3-border'>Plan C</th>
        </tr>
        <tr>
          <td class='w3-border'>Contact Reduction</td>
          <td id=crA class='w3-border'></td>
          <td id=crB class='w3-border'></td>
          <td id=crC class='w3-border'></td>
        </tr>
        <tr>
          <td class='w3-border'>Universal Testing</td>
          <td id=utA class='w3-border'></td>
          <td id=utB class='w3-border'></td>
          <td id=utC class='w3-border'></td>
        </tr>
        <tr>
          <td class='w3-border'>Contact Tracing</td>
          <td id=ctA class='w3-border'></td>
          <td id=ctB class='w3-border'></td>
          <td id=ctC class='w3-border'></td>
        </tr>
        <tr>
          <td class='w3-border'>Is Usable?</td>
          <td class='w3-border'>No</td>
          <td class='w3-border'>No</td>
          <td class='w3-border'>No</td>
        </tr>
      </table>
    </div>
    <div class='w3-border w3-panel w3-round w3-blue-grey' style="height:20vh">
      <div> Final Review </div>
      <p><button class='w3-button w3-green w3-round' onclick='savePolicies()'>Parameter Review</button></p>
      <p><button class='w3-button w3-red w3-round' onclick='calibrate()'>Run Simulation</button></p>
    </div>
  </div>
</div>

<script>
states_hash =
  {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District Of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
  }
stateDropdown(id='simState')
function stateDropdown(id='selectState'){
  dropdown = document.getElementById(id)
  for (state in states_hash){
    var stateOption = new Option(state, state)
    dropdown.options.add(stateOption)
  }
}

graph_stateChoice()


function savePolicies(){
  dataCR = tableToJson("usertableCR", 'column')
  dataUT = tableToJson("usertableUT", 'column')
  dataCT = tableToJson("usertableCT", 'column')
  makeABCLine('inputGraphContactReduction1', 'viewInputContactReduction1',
              dataCR, dataType='Contact Reduction', .4);
  makeABCLine('inputGraphContactTracing1', 'viewInputContactTracing1',
              dataCT, dataType='Contact Tracing', .4)
  makeABCLine('inputGraphUniversalTracing1', 'viewInputUniversalTracing1',
              dataUT, dataType='Universal Testing', .4)

  dataCR = tableToJson("usertableCR", 'column')
  dataUT = tableToJson("usertableUT", 'column')
  dataCT = tableToJson("usertableCT", 'column')
  makeABCLine('inputGraphContactReduction2', 'viewInputContactReduction2',
                    dataCR, dataType='Contact Reduction', .3)
  makeABCLine('inputGraphContactTracing2', 'viewInputContactTracing2',
                    dataCT, dataType='Contact Tracing', .3)
  makeABCLine('inputGraphUniversalTracing2', 'viewInputUniversalTracing2',
                    dataUT, dataType='Universal Testing', .3)
}


function makeEmptyTable(parentDiv, startVal, endVal) {

    //document.getElementById(parentDiv).innerHTML = '' // clear old table if any
    table = document.getElementById(parentDiv) // establish new table
    numRows = 12
    numCol = 4

    keys = ['Date', 'Plan A', 'Plan B', 'Plan C']
    row = table.insertRow();
    for (key in keys) {
      let th = document.createElement("th");
      let text = document.createTextNode(keys[key]);
      th.appendChild(text);
      row.appendChild(th);
    }

    for (i=1; i < numRows; i++) {
        newRow = table.insertRow();
        for (j=0; j<numCol; j++) {
            newCell = newRow.insertCell();
            if (j == 0) {
              newCell.innerText = "Week " + String(i)
            } else if (j == 1){
              newCell.innerText = (startVal + ((endVal - startVal) / (numRows-1) * i)).toFixed(2)
              newCell.contentEditable = true;

            } else {
              newCell.innerText = '';
              newCell.contentEditable = true;
            }
            newCell.className = 'w3-border'
        }
    }
}

makeEmptyTable("usertableCR", startVal=1, endVal=.25)
makeEmptyTable("usertableCT", startVal=100, endVal=300)
makeEmptyTable("usertableUT", startVal=100, endVal=300)
savePolicies()

function graph_stateChoice(){
  var state = d3.select("#simState")._groups[0][0].value // get user pasted data
  var dataType = d3.select("#simStateDT")._groups[0][0].value
  document.getElementById('StateNameTitle').innerHTML = 'Policy Builder - ' + state
  document.getElementById('overviewStateChoice').innerHTML = 'State: ' + state
  d3.json("https://covidtracking.com/api/v1/states/daily.json").then(function(covid_data){
    makeCovidTrackerLine('resultGraph', 'infsim', covid_data,
       scaleType='linear', state=state, dataType=dataType, cumulative='cumulative',
       simulation=null, simDataType=null, aspect=.75)
  })
}

function calibrate(){
  savePolicies()
  var state = d3.select("#simState")._groups[0][0].value // get user pasted data
  to_python = [{'state':state, 'rl_input':tableToJson("usertable")}]
  $.ajax({
        type: "POST",
        url: "calibrate_model", // url on python side
        data: JSON.stringify(to_python),
        contentType: "application/json",
        success: function (dataset) {
          all_data = dataset.data;
          simSummary = to_object(all_data, 'Summary')
          switchTab('simResultGraphs')
          d3.json("https://covidtracking.com/api/v1/states/daily.json").then(function(covid_data){
            makeCovidTrackerLine('resultGraphCases', 'infsim', covid_data,
              scaleType='linear', state=state, dataType='positive',cumulative='cumulative',
              simulation=simSummary, simDataType='projected cumulative diagnosis')
            makeCovidTrackerLine('resultGraphHospital', 'hospsim', covid_data,
              scaleType='linear', state=state, dataType='hospitalized', cumulative='cumulative',
              simulation=simSummary, simDataType='projected cumulative hospitalized')
            makeCovidTrackerLine('resultGraphDeath', 'deathsim', covid_data,
              scaleType='linear', state=state, dataType='death', cumulative='cumulative',
              simulation=simSummary, simDataType='projected cumulative deaths')
          })
        },
  });
}

function to_object(all_data, name) {
  json = JSON.parse(all_data[name])
  array = [];
  Object.keys(json).forEach(function(key){array.push(json[key])})
  return array
}

function tableToJson(id, type='index') {
  var table = document.getElementById(id)
  var data = [];
  // first row needs to be headers
  var headers = [];
  for (var i=0; i<table.rows[0].cells.length; i++) {
      headers[i] = table.rows[0].cells[i].innerHTML.replace(/ /gi,'');
  }
  if (type == 'index'){
    // go through cells
  	start = 1
    for (var i=start; i<table.rows.length; i++) {
        var tableRow = table.rows[i];
        var rowData = {};
        for (var j=0; j<tableRow.cells.length ; j++) {
            rowData[headers[j]] = tableRow.cells[j].innerHTML;
        }
        data.push(rowData);
    }
  }else{
    // go through cells
    for (var i=0; i<table.rows[0].cells.length; i++) {
      var colData = [];
      remember = parseFloat(0)
      for (var j=1; j<table.rows.length ; j++) {
        if (i==0){
          colData.push(parseFloat(table.rows[j].cells[i].innerHTML.split(" ")[1]));
        }else{
          if (table.rows[j].cells[i].innerHTML != ''){
            remember = table.rows[j].cells[i].innerHTML
            colData.push(parseFloat(table.rows[j].cells[i].innerHTML));
          } else {
            colData.push(parseFloat(remember));
          }
      }}
      data[headers[i]] = colData;
    }
  }
  return data;
}

function switchTab(evt, showTab) {
  var i;
  var x = document.getElementsByClassName("tabbed");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("w3-red", "");
  }

  document.getElementById(showTab).style.display = "block";
  evt.currentTarget.className += " w3-red";
  graph_stateChoice()
  savePolicies()
  }
</script>
{% endblock %}
